:root {
    --bg: #03001C;
    --bgSoft: #060047;
    --text: #E3F6FF;
    --textSoft: #F6F5F2;
    --btn: #6AD4DD;
    --bg1: #F0F3FF;
    --bgd: white;
    --price:#EE4E4E;
    --hovericon: rgba(0, 0, 0, 0.152);
    --wishlist :#EE4266;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg);
    color: var(--text);
}

a {
    text-decoration: none;
    color: var(--text);
}

.containermain {
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}