.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.container {
    background: linear-gradient(35deg, rgb(248, 248, 248), rgb(245, 191, 245));
    height: 170vh;
    padding-top: 70px;
    text-align: center;
    line-height: 1.5;
}

.card {
    overflow: hidden;
    box-shadow: 0px 2px 20px #d7dfe2;
    background: white;
    border-radius: 0.5rem;
    position: relative;
    width: 350px;
    margin: 1rem;
    transition: 250ms all ease-in-out;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0px 2px 40px #d7dfe2;
}

.bannerimg {
    position: absolute;
    object-fit: cover;
    height: 14rem;
    width: 100%;
}

.categorytag {
    font-size: 0.8rem;
    font-weight: bold;
    color: white;
    padding: 0.5rem 1.3rem 0.5rem 1rem;
    text-transform: uppercase;
    position: absolute;
    z-index: 1;
    top: 1rem;
    border-radius: 0 2rem 2rem 0;
}

.popular {
    background: #ef257a;
}

.technology {
    background: #651fff;
}

.psychology {
    background: #e85808;
}

.cardbody {
    margin: 2rem 1rem 1rem 1rem;
}

.bloghashtag {
    font-size: 0.9rem;
    font-weight: 500;
    color: #4d97b2;
}

.blogtitle {
    line-height: 1.5rem;
    margin: 1rem 0 0.5rem;
}

.blogdescription {
    color: #616b74;
    font-size: 0.9rem;
}

.profilefollowers {
    color: #616b74;
    font-size: 0.9rem;
}

.container h2 {
    margin-top: 35px;
}