.container {
    margin-top: 20px !important;
    background-color: var(--bg1);
    margin: 0;

}

.containerbaner {
    padding: 0;
    margin: 0;
    min-height: 400px;
    width: 100%;
    overflow: hidden;
    background-color: #030323;
}
.rowbanner {
    position: relative;
    perspective: 500px;
    display: flex;
    justify-content: center;
    top: 20px;
}

.star {
    color: white;
}
.imgbanner{
    position: absolute;
}
.infobanner{
    color: white;
    position: absolute;
}

.linkshop {
    min-height: 200px;
    align-items: center;
    display: flex;
}

/*fill*/
.actionfill {
    min-height: 50px;
    background-color: white;
    border-bottom: solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fillbtn {}

.listgird {
    list-style: none;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;
    margin: 0;
}

.contentfill {
    background-color: white;
    padding: 30px;
}

.fillitem {
    align-items: center;
}

.fillitem li {
    list-style: none;
}

.productitem {
    border-top: solid .5px;
    padding-top: 20px;
    background-color: var(--bgd);
}

.ationimage {
    display: flex;
    justify-content: center;
}

.ationimage:hover .pdimg {
    background-color: rgba(0, 0, 0, 0.5);
}

.pdimg {
    position: relative;
    width: auto;
}

.pdimg:hover {}

.actionitemtop {
    position: absolute;
    list-style: none;
    font-size: 20px;
    top: 10px;
    left: 10px;
}

.actionitembot {
    position: absolute;
    list-style: none;
    font-size: 20px;
    bottom: 10px;
    right: 10px;
}

.actiontop,
.actionbot {
    width: 40px;
    height: 40px;
    border: solid .1px white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.actionitemtop::after,
.actionitembot::after {
    padding: 5px;
    display: none;
    content: "Quick view";
    position: absolute;
    font-size: 10px;
    display: flex;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border: solid .5px;
    justify-content: center;
    align-items: center;
    transition: all 1s ease-in-out;
}

.actionitemtop::after {
    content: "Quick view";
    right: -70px;
    top: 6px;
    display: none;

}

.actionitembot::after {
    content: "Add to wishlist";
    left: -90px;
    bottom: 6px;
    display: none;
}

.actionitemtop:hover::after {
    display: flex;
}

.actionitembot:hover::after {
    display: flex
}

.actiontop:hover,
.actionbot:hover {
    scale: 1.2;
    background-color: var(--hovericon);

}

.actiontop:hover {
    color: greenyellow;
}


.actionbot:hover {
    color: var(--wishlist);
}

.iconactiontop,
.iconactionbot {
    color: white;
}


.iconactiontop:hover {
    scale: 1.1;
    color: greenyellow;
}

.iconactionbot:hover {
    scale: 1.1;
    color: var(--wishlist);

}

.pdinfo {
    padding-top: 20px;
    text-align: center;
}

.pdprice {
    color: var(--price);
}

.pdname {}

.pdauthor {}